.list-panel {
  list-style-type: none;
  padding-left: 0;
}

.list-panel-item {
  background-color: #B0B0B0;
  margin-bottom: 10px;
}

.list-panel-button {
  text-align: center;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
